.botao-flutuante:hover, button:hover {
    background-color: var(--cor-hover);
}

.imagem__contato img:hover {
    transform: scale(1.05);
}

input:focus, textarea:focus {
    background-color: var(--cor-quarternaria);
}

button:active, .botao-flutuante:active {
    background-color: var(--cor-terciaria);
}

.produto::before {
  content: "";
  display: block;
  height: 4px;
  background-color: purple;
  margin-bottom: 10px;
}

.produto::after {
  content: "";
  display: block;
  height: 4px;
  background-color: purple;
  margin-top: 10px;
}

.produtos_h2::before {
  content: "🍷 ";
}

.produtos_h2::after {
  content: " 🛒";
}
.botao-flutuante:hover{
    transform: rotate(360deg);
}
.cabecalho__menu__link{
  transition: transform 0.3s;
} 
.cabecalho__menu__link:hover{
  transform: scale(1.3);
}